[2016-12-22 20:06] fabianmichael opened #3 "Add option for XHTML-compliant markup"
Add option to generate XHTML-compliant output. As Kirby does omit the trailing slash for all HTML code generated by e.g. the Toolkit, this should be optional.

#2

[2017-01-02 16:14] fabianmichael commented on #3
bb01a20

[2017-01-02 16:14] #3 closed, assigned to fabianmichael

[2017-01-31 11:43] colourgarden opened #4 "Using files from /assets"
HI @fabianmichael. Thanks for your work on this great plugin.

I'm trying to create a srcset from an image that I have stored in my /assets folder but am having some trouble. I'm trying the global function as well as the File object method but get the following errors.

[code]

[code]

It may be that I have an incorrect understanding of the Media object but are you able to shed some light on acces

[2017-01-31 17:57] fabianmichael commented on #4
Hi @colourgarden,

this is clearly a bug. Thanks for pointing this out, I’ve just fixed this on the master branch. I’ll leave this open, so you have a chance to test if the fix works for you as well.

Explanation: Instances of the `Media` objects are missing some methods, which are preset on the `Asset` or `File` classes. You can always use the `Asset` class instead of media when access, because i

[2017-01-31 19:31] colourgarden commented on #4
Thanks @fabianmichael. Seems to be working now. This is a really great plugin, thanks for your work on it.

[2017-01-31 19:31] #4 closed, assigned to fabianmichael

[2017-01-31 19:43] colourgarden opened #5 "Setting options with variables"
Hi again @fabianmichael. I'm trying to dynamically add a caption using Imageset options but am running into an error. I expect it to work but no dice.

Image is being created with the following code (caption has definitely been set in Panel) with an error returned.

[code]

If I set a blank caption or an ordinary string (instead of `$image->caption()`) then it produces the Imageset image perfectly

[2017-02-01 10:33] fabianmichael commented on #5
Hey @colourgarden, this was expected behavior, as imagesets are always cached the unique hash for each image is generated from a serialized string of all options and sizes. But I admit, that it should work with Kirby’s native objects as parameters. Fixed it, so fields are converted to strings before the hash is generated.

Thanks for you feedback so far, it is very helpful! :-) I you find anything

[2017-02-01 10:35] #5 closed, assigned to fabianmichael

[2017-03-09 16:44] fabianmichael opened #6 "Support responsive background-images"
Lazysizes supports responsive background images as well. It should be considered to integrate this into ImageSet.

See also https://forum.getkirby.com/t/imageset-responsive-images-with-lazy-loading-and-beautiful-placeholders/6006/20?u=fabianmichael

[2017-03-11 17:00] fabianmichael opened #7 "Write Tutorial for PhotoSwipe integration"
Support PhotoSwipe for enlarging images.

[2017-03-20 10:28] bnomei opened #8 "congrats to release 1.0 🎊"

[2017-03-20 12:28] fabianmichael commented on #8
Thanks a lot! The great feedback and interest, the plugin got in such a short timeframe show me, that it tackles real-world problems and is not just the fantasy of a designer who wants cool effects on images. Yeah … and it really took a while to take off, as I’ve been experimenting with image loading in that particular way for about 2-3 years now. Fun fact: I started this when I was still using Wo

[2017-03-20 22:02] Flobin opened #9 "Generate HiDPI images"
Just an idea: are you planning to also generate HiDPI images?

Congrats on all the work so far, by the way, the plugin looks great!

[2017-03-21 11:37] jolantis opened #10 "Issue with Dynamic Presets API"
Hi Fabian,

I run into the following issue:

If I include the Dynamic Presets API example snippet in my header snippet, without doing anything else (e.g. loading the preset), I get the following error:

[code]

What am I doing wrong?

For what it is worth, this is my imageset config:

[code]

Any idea?

[2017-03-21 13:21] fabianmichael commented on #10
This issue is caused, when you try to save a set of presets with the name `initial`, because it’s used internally by the plugin to save the *initial* presets defined in the config.php file. Try to use another name. But if that is an issue for you, I can change the logic, so the name initial is no longer reserved.

[2017-03-21 13:47] fabianmichael commented on #9
Hey @Flobin,

this was my first approach, but for content images which arre usually displayed a lot on different screen sizes, using `1x`, `2x` etc. requires you to know the exact dimensions of images certain screen sizes. When working with a responsive grid, this can become very tricky. When using width descriptors (like ImageSet) currently does, this get’s a lot easier, it’s sufficient for most

[2017-03-21 18:46] jolantis commented on #10
As far as I know I am not using the name `initial` for a any set of presets?

This is the contents of the `imageset-presets.php` snippet I am using (just like your example):

[code]

[2017-03-23 10:10] jolantis commented on #10
Hi Fabian,

Sorry to bother you about this issue I am having, but I just don't get it running. What am I doing wrong?

My test template looks like this:

[code]

And the included `imageset-presets.php` is the one I posted in my previous post above.

And this is the error I get:

<img width="1566" alt="imageset-dynamic-api-issue" src="https://cloud.githubusercontent.com/assets/68627/24242667/bfcafa

[2017-03-23 14:05] #10 closed, assigned to nobody

[2017-03-23 14:07] fabianmichael commented on #10
Hey @jolantis, this was apparently just a little stup bug that made into the final release. Sorry for the invionvenience you experienced.

Best,
Fabian

[2017-03-23 14:45] jolantis commented on #10
Thanks @fabianmichael for the quick support and fix.

Now everything is working for me. The testing is over. Now it's time to implement imagekit and imageset.

Thanks for these 2 amazing plugins!

[2017-04-03 10:35] simonschaufi opened #11 "Support 32bit systems"
Hi, your library sadly only words on 64bit systems.

The reason is this:

https://github.com/fabianmichael/kirby-imageset/blob/master/lib/imageset.php#L414

$hash = hexdec(substr(md5($hash), 0, 15));

in my case the $hash is: 2.8639272122094E+17

generating the hash with this number will crash here:

https://github.com/fabianmichael/kirby-imageset/blob/master/lib/utils.php#L323

where $r is a nega

[2017-04-03 16:29] fabianmichael commented on #11
Thanks for pointing this out!

Do you have an idea how to work around this on 32 bit systems?

[2017-04-03 16:31] simonschaufi commented on #11
a dirty hack would be to use abs() or use a "proper" hashing method ;) Why so complicated with hexdec and base 16?

[2017-04-04 13:19] fabianmichael commented on #11
The hash is actually encoded in base62 (like base64, but without "/" and "="). The sole reason for this is, that hashes are much shorter while keeping a good entropy. However, it cannot stay like this, so I’ll try to find a solution as soon as possible. This will probably take a few days, as my schedule does not leave much room for this week.

[2017-04-04 13:20] #8 closed, assigned to nobody

[2017-04-06 13:19] simonschaufi commented on #11
md5 is a hash which could be used (or a substring of it) and you are already making use of it but still I wonder why you do an extra hexdec and the other stuff...

[2017-04-06 14:00] fabianmichael commented on #11
md5 uses only a-f0-9 as characters. My hash function uses a-zA-Z0-9. The reason is just to get shorter hashes, which do not waste bytes and look more readable on the other hand.

I’ll make a branch with a fixed hash function soon, so you can test on your 32 bit system (setting up a VM would take to long just for this sole issue). If you can confirm that it works, I’ll integrate that into master. D

[2017-04-09 20:36] simonschaufi commented on #11
sounds great!

[2017-04-16 21:15] fabianmichael commented on #11
Hey @simonschaufi, I’m going on vacation for the rest of the week and couldn’t manage to fix that bug before. But be sure that I did not forget about it. Will take care of that when I’m back at the desk.

[2017-05-11 17:30] fabianmichael commented on #11
Hey @simonschaufi, I finally decided to use md5 hashes instead of base62, as there does not seem to be an easy soluation that’s available on all PHP installations. Updates code is in the repo (master branch), but not part of an official release yet, though tested it on my local (64 bit) machine and it worked fine. Please try if it also work for you, then I’ll tag it as an official release.

[2017-05-12 01:24] simonschaufi commented on #11
Great! Unfortunatelly my good old 32 bit windows gave up a few weeks ago with a hardware damage and so I can't test right now but from my point of view it should work.

[2017-05-15 13:34] bnomei opened #12 "suggestion: colorthief alternative"
maybe test this lib if its faster, more stable etc.

https://github.com/thephpleague/color-extractor

[2017-05-17 08:22] jakobploens opened #13 "Small images lead to fatal error"
This issue has cost me several hours yesterday of trial and error, and fortunately I was able to find the reason and find a way around – but I'd love to see a fix (or a official recommended solution for this one). To be honest: I only tried with the color placeholder, but as I don't want to use the other effects, this somehow had to work ;-) Oh, and I'm using the modules and the patterns plugins (

[2017-05-17 08:22] jakobploens opened #14 "Undefined variable: file"
While finding a solution for #13, I first got the following error message:

This happens in https://github.com/fabianmichael/kirby-imageset/blob/master/lib/utils.php#L161, where `$file` should be `$media`, right? After changing this, I could dig deeper into the other issue…

[2017-05-17 10:06] jakobploens opened #15 "Images aren't loaded properly"
After playing more and more with Imageset I'm quite impressed by it's possibilites – great work so far :) However, it seems that my images are sometimes lacking the `load` event and therefore just the color is displayed… I'm not quite sure where and why this takes place, but all I can say is that it's only sometimes on initial load (after reloading, it works), and also only affecting images which

[2017-05-17 10:13] jakobploens commented on #15
One further note: the `is-loaded` class is not added to `span.imageset`, therefore the image stays invisible, but actually is loaded. A quick'n'dirty fix would be to add a z-index of 3 to the `lazyloaded` image, but then there is not transition animation visible without changing/adding much styles.

[2017-05-26 15:08] fabianmichael commented on #15
I guess, I accidently moved initialization to a function that is executed when the DOM is ready. As lazysizes initializes earlier, this might cause the issue. I’m on it!

[2017-05-26 15:37] fabianmichael commented on #15
Okay, ImageSet now initializes as soon as the code is interpreted and does not wait for the DOM anymore. Please try if that fixes your error, just check out the latest version of the repo. If this fixes your error, I’ll make it an official release.

[2017-05-29 07:40] jakobploens commented on #15
Just quickly played with it, seems like the update does the job. Thanks! :)

[2017-05-29 07:40] #15 closed, assigned to fabianmichael

[2017-06-17 08:43] schnti opened #16 "Uncaught SyntaxError: Unexpected token :"
[code]
Throws this error:
`Uncaught SyntaxError: Unexpected token :`
![screenshot 2017-06-17 10 39 08](https://user-images.githubusercontent.com/1868482/27251535-3752b8b0-5349-11e7-9da1-510decf24629.png)

And
[code]
Throws this error `imageset.min.js:22`:
[code]

[2017-06-18 12:12] fabianmichael commented on #16
Please tell me a bit more about your setup:

- PHP version
- ImageKit & ImageSet version
- Did you get any errors in the network tab?
- Browser and OS version. Also: Does this error occur in other browsers at well?

[2017-06-18 12:33] schnti commented on #16
Toolkit Version: 2.4.1
Kirby Version: 2.4.1
Panel Version: 2.4.1

PHP: 7.1.1 (MAMP Pro, Mac)

Chrome Version 59.0.3071.86 (Official Build) (64-bit)
Safari Version 10.1.1
Firefox Version 52.0.2 (64-bit)

ImageKit: 1.1.3
ImageSet: 1.0.1

I've found that the error only occurs in combination with Bootstrap Carousel
http://getbootstrap.com/javascript/#carousel

[code]

[2017-06-20 19:03] fabianmichael commented on #16
Does the carousel also throw and error or adds classes or changes any other attributes on imageset tags? This is possibly related to the caroussel’s behavior, if it does not occur alone. The strangest thing is of course the syntax error, as line 474 of imageset.js does not contain a colon. Is the file transmitted properly or is it scrumbled somehow?

[2017-06-21 12:13] lukaskleinschmidt opened #17 "Option / Possibility to change style attr"
I'm currently working with the focus plugin and set the focus for the image with `object-position`. Currently I do a simple `str_replace` for the style attribute but this feels kinda hacky.

[code]
Something like this would be more convinient.
[code]
Probably not that easy because there are a bunch of different output formats.

[2017-06-22 08:35] lukaskleinschmidt commented on #17
Ok I totally overlooked the fact that I can easily overwrite the snippet.

[2017-06-22 08:35] #17 closed, assigned to nobody

[2017-07-04 20:16] schnti commented on #16
Here is a (not) working example: http://neu.bodenseehof.de which throws the error.

[2017-07-05 10:29] fabianmichael commented on #16
I am getting a different error (`IndexSizeError: Index or size is negative or greater than the allowed amount`), but anyway we’re getting closer to the issue. It seems to be somewhere in the thumbnail rendering process. Could you please exchange the minified version of `imageset.js` on your page with the unminified one? This would make debugging much easier for me.

Also, try to use a different pl

[2017-07-07 08:00] #11 closed, assigned to fabianmichael

[2017-07-07 08:08] fabianmichael commented on #12
I already tried that one, but performance and memory usage also do not seem to be very good. Still thinking of better ways of how to handle this, but the main issue remains the same for all of those libs: They have to load the whole image into memory and analyse a whole lot of pixels. Same problem I also got for testing whether an image has an alpha channel or not (takes painfully long on the serv

[2017-07-07 08:24] bnomei commented on #12
my usual setup is photos directly from camera and clients perfer color preview over blured image. but thier servers (about 10€/month) are not fast/memory strong enogh to handle color extraction from raw file.
you mentioned using a thumb for detection instead of raw file. that would be great. is there a setting to define its max width/scale yet?
i have a lot of image focused projects lately so look

[2017-07-07 09:39] fabianmichael commented on #12
I got an experimental (untested VIPS) driver for Kirby, wanna try it?

[2017-07-07 12:54] bnomei commented on #12
sure. but i can not do any testing before 17.7.

[2017-07-08 13:56] wottpal opened #18 "Placeholder is not removed in rare cases when lazyloading"
I used your beautiful placeholders before but I came across an issue (could reproduce it in latest firefox, but not chrome/safari) where they just not disappear even though the image has loaded long before. This is certainly the case for images which are already in the viewport when the site loads (see the video below).

I inspected the elements and saw that the ".is-loaded" class is not appended

[2017-07-09 14:19] fabianmichael commented on #18
Okay, I’ll have a look at it. Will take a few days, but I already tried to improve image loading in HEAD, will probably have another look at [imagesloaded](https://github.com/desandro/imagesloaded) by desandro to see, how he does it in a more reliable way.

[2017-07-12 07:02] lukasleitsch opened #19 "Wrong error message if thumbs folder is missing"
If the thumbs folder is missing the error message is "The cache directory does not exist".

I think the message is a little bit confusing because the cache folder exists. Maybe it is better to show a error message that the thumbs folder is does not exist.

[2017-07-12 07:05] lukasleitsch opened #20 "Typo in variable name"
I guess in https://github.com/fabianmichael/kirby-imageset/blob/master/imageset.php#L65 is a typo  in `$opion`

[2017-07-20 09:56] fabianmichael opened #21 "Implement API for JavaScript image loader"
The JavaScript component of ImageSet should allow more control over how imagesets are loaded.

**Use Cases:**

- Content containing imagesets is animated and placeholder rendering causes animations to stutter.
- Devs might want to influence the loading priority of certain imagesets.
- Cached imagesets should not display the transition from a placeholder, but should show the loaded image instantane

[2017-08-01 18:26] fabianmichael opened #22 "Update to lazysizes 4 once it is released."
Update to the latest version of lazysizes after testing thorough.

https://github.com/aFarkas/lazysizes

[2017-08-07 20:55] wottpal opened #23 "Throws error on completely transparent PNG"
:D This is a funny one i stumbled across accidentally: ImageSet throws an exception when the input image is an completely transparent .png.
![bildschirmfoto 2017-08-07 um 22 54 38](https://user-images.githubusercontent.com/3930150/29045312-72833dcc-7bc3-11e7-9ce2-0e0fe4a2ab84.png)

[2017-08-08 19:11] fabianmichael commented on #23
Alright, I did not test this special case to be honest … but it should be fixed anyway, especially for sites displaying experimental invisible art! :-D

[2017-08-14 12:20] bnomei commented on #12
can do testing now. where do i find your VIPS driver?

[2017-08-14 14:09] fabianmichael commented on #12
Here it is. But please be careful, I just wrote that down without testing it a single time. The driver installs as a separate plugin.

[vips.zip](https://github.com/fabianmichael/kirby-imageset/files/1222460/vips.zip)

[2017-08-28 08:56] #23 closed, assigned to fabianmichael

[2017-09-08 10:20] fabianmichael commented on #13
Sorry for the late reply. I tried ImageSet with a range of very small images and could not replicate your error. I will upload a beta of a new version within the next days. Maybe you could try with your again after the release or send me those files plus your imageset configuration?

[2017-09-08 11:13] #20 closed, assigned to fabianmichael

[2017-09-08 11:13] #19 closed, assigned to fabianmichael

[2017-09-15 15:38] guidoferreyra opened #24 "Ignore GIF"
Is possible to make ImageSet ignore gifs? Because it eliminates the animation.

[2017-09-16 20:42] ghost opened #25 "Uncaught ReferenceError: el is not defined"
[code]

Using the latest imageset version. I tried to replace `el` with `wrapper` after looking through the commit history. I think the problem started with the latest refactoring and kugugug 😹 I switched back to 1.0.1, didn't try it with other effects than blurred/LQIP.

[2017-09-16 22:01] ghost commented on #18
I can confirm this issue, only happens to images already in the viewport. Tested on a Moto G2, ~~never have this issue in chrome so far.~~

[2017-09-17 14:43] fabianmichael commented on #25
The current version on git seems to have a typo in a variable name. I’m on it!

Which placeholder style are you using? It affects `blurred` and `lqip`.

[2017-09-17 18:56] fabianmichael commented on #18
What browser runs on the Moto G2?

[2017-09-17 19:26] ghost commented on #18
Oh, of course it was Google Chrome!

[2017-09-19 15:21] fabianmichael commented on #18
Okay, do you know if there are any differences to the desktop version of Chrome? Unfortunately, I don’t own any Android devices to test on real hardware …

[2017-09-19 16:42] ghost commented on #18
I don't think so, also have this issue at chrome (desktop) a few times now.

[2017-09-20 09:47] fabianmichael commented on #18
Okay, I gonna test this on Desktop then. There’s still some work to do for 1.1.0 final on the JS side anyway …

[2017-09-20 09:55] fabianmichael commented on #24
Unfortunately not, you have to handle this either in your templates or if you need this in Kirbytext, you should override ImageSet’s `(image: …)` Kirbytag if you don’t want GIF images to be resized.

BTW: ImageSet just uses Kirby’s built-in thumbs engine, so if you want resized versions of animated GIF images, you would have to tweak Kirby’s thumb driver.

[2017-09-20 09:56] fabianmichael commented on #24
However, I think it would make sense to add a setting for handling of GIF files.

[2017-10-01 23:53] daybugging commented on #16
[code]

Depending on value for `placeholder`, I get these errors (and on some pages no thumbs as well, see description of last point):

**triangles**
IndexSizeError: Index or size is negative or greater than the allowed amount
triangleMosaicFilter http://localhost:4000/site/plugins/imageset/assets/js/dist/imageset.js:985:29
process http://localhost:4000/site/plugins/imageset/assets/js/dist/imagese

[2017-10-02 16:07] S1SYPHOS opened #27 "Using ImageSet with Asset objects"
Congratulations to 100 ⭐️
Question: Is there any way to use it with Asset objects (see [docs](https://getkirby.com/docs/templates/thumbnails))?

When I do this:
[code]
.. I get `Call to undefined method Asset::imageset()`. It seems to be similar to #4.

[2017-10-02 16:12] S1SYPHOS commented on #27
Should've read more closely, `echo imageset($fallback, '...')` did the trick ..

[2017-10-02 16:12] #27 closed, assigned to nobody

[2017-10-02 16:16] fabianmichael commented on #27
Wow, I missed that my little plugin already has 100 stars :-D

I would really like to add the imageset method to the Assets class as well. But in contrast to the `File` class, it currently does not offer the possibility to register custom methods. So for now, we’re stuck with using `imageset()` for now.

[2017-10-02 16:24] fabianmichael commented on #16
@daybugging Thanks for details explanation of the errors you are getting.

I noticed that there are some issues with the latest beta. I’ll test again with my test setup. I also noticed that with asynchronuous placeholder rendering enabled, errors may occur when an imageset was removed from the DOM while the placeholder was rendering, causing the render function to fail. Though the latter one is no

[2017-10-02 19:16] S1SYPHOS opened #28 "Thumbnails blacking out during lazyload"
Hey there,
until #16 is fixed I'm using v1.0.1 and stumbled across the behaviour described in the title:

![black-out](https://user-images.githubusercontent.com/12161504/31094840-cdac89a0-a7b6-11e7-8faa-60d01c05fcc6.gif)

Upon page load, sometimes there's a black-out of some thumbnails generated by ImageSet. I checked if this was fixed in the most recent beta release but didn't find anything.

[2017-10-03 14:14] S1SYPHOS commented on #16
I received the same error, and very rarely also this:
[code]

[2017-10-08 16:46] ghost opened #29 "How does js and css including work?"
Sorry for the question, but on [template setup](https://github.com/fabianmichael/kirby-imageset#23-template-setup) you use

[code]

and

[code]
but there is no such file nor plugins folder in my assets directory. It is still working tho, so I ask myself how does this even work?

[2017-10-08 17:39] ghost commented on #29
nvm, https://getkirby.com/docs/developer-guide/plugins/assets

[2017-10-08 17:39] #29 closed, assigned to nobody

[2017-10-29 10:19] S1SYPHOS commented on #22
Released two days ago, I tested it locally and didn't encounter any problem so far!

// Update:
I know you're planning a bigger rewrite by the time Kirby 3 is released, however, would you accept a PR for lazysizes v4.0.1 support? I'd be happy to help :statue_of_liberty:

[2017-11-05 13:44] krlklm commented on #7
Is there a rough time schedule when we could expect PhotoSwipe support respectively v. 1.2.0 ?

[2017-11-06 14:33] jakobploens commented on #14
Fixed with the latest version.

[2017-11-06 14:33] #14 closed, assigned to fabianmichael

[2017-11-06 14:33] jakobploens commented on #13
Yep, seems to be fixed. Thank you!

[2017-11-06 14:33] #13 closed, assigned to fabianmichael

[2017-11-07 16:31] fabianmichael commented on #7
I did an implementation for my personal site (example: https://fabianmichael.de/en/work/sister-carrie), but I’m not sure how to integrate it into the plugin. Problem is, that there’s a ton of different build processes out there and I don’t know if it’s worth to ship Photoswipe assets with ImageSet. To run photoswipe, you need to include a 2 js files, one CSS file and it also needs to load images.

[2017-11-07 21:42] krlklm commented on #7
I guess a tutorial would actually be better than integrating it. I have to admit that i thought Photoswipe would be more or less the same as Swiper (http://idangero.us/swiper/), which i would like to combine with ImageSet. So a tutorial for one of the two would probably be more universally applicable. Thanks in advance!

[2017-11-08 13:14] fabianmichael commented on #7
Okay, I’ll write the tutorial then.

[2017-11-29 12:39] ChrisKam opened #30 "FocusCrop and Imageset"
Hi there, first of all thank you for the great plugin!

I'm having the exact same issue as oliverschneider describes here: https://forum.getkirby.com/t/imageset-responsive-images-with-lazy-loading-and-beautiful-placeholders/6006/28

However, I *should* have come farther I thought by doing this

`  $image = $image->focusCrop(800); // making it an Asset Object btw.`
`  $image = new Media($image->roo

[2018-01-07 15:39] bnomei opened #31 "readme js file"
about **2.3 template setup** of readme... should be minified file, right? its currently not.

[code]

[2018-01-09 09:42] wottpal opened #32 "JS Error in the console"
Hey,
I am using the latest version of ImageSet and getting this error in the console recently `Uncaught ReferenceError: el is not defined` on line **945** of `imageset.js`. Maybe you could have a look :)

Btw are you planning future releases of ImageSet & ImageKit? Both seem a bit stagnant unfortunately :(

Dennis

[2018-01-11 14:46] bnomei opened #33 "lozad.js"
you might wanna check out this lib as an alternative to **lazysizes**. or maybe support both? or if one is already loaded?

https://apoorv.pro/lozad.js/

[2018-01-14 18:25] fabianmichael commented on #33
It looks pretty interesting and lean, but sorry I don’t see a chance to replace lazysizes in the near future. In comparision to most other solutions, lazysizes can dynamically detect the actual width of an image and thus automatically calculate the `sizes` attribute.

However, I’m planning for a bigger rewrite when Kirby 3 is released. Maybe I’ll find the time to make a deeper comparison between t

[2018-01-18 02:53] azharc opened #34 "Whitespace at bottom of images"
The span.imageset element has a little whitespace below the image. I don't believe I have other styles causing this, but feel free to close/ignore if you can't replicate.

In case you can, here's how I fixed it.

![1](https://user-images.githubusercontent.com/2773389/35078502-89d8902a-fbd0-11e7-9817-9a72e7896374.png)
![2](https://user-images.githubusercontent.com/2773389/35078503-89f592d8-fbd0-11e

[2018-01-18 05:44] azharc commented on #34
Setting display:flex to the span.imageset element also works as a fix.

[2018-01-29 13:25] krlklm commented on #7
Hello. Any news on the tutorial? Thanks!

[2018-01-30 13:10] fabianmichael commented on #34
Can you give me access to a demo, so I can check where the issues comes from?

In general, as `.imageset` is displayed as `inline-block` to behave like a normal image. I never tested with `display: flex`, but you can also safely use `display: block` on the `.imageset` element if you want to get rid of bottom whitespace.

[2018-01-30 13:12] fabianmichael opened #35 "Add `display:block` on `.imageset` to readme"
`.imageset` can have `display: block` assigned to get rid of bottom whitespace, but this is not in the readme yet.

[2018-01-30 13:12] fabianmichael commented on #34
https://github.com/fabianmichael/kirby-imageset/issues/35

[2018-01-30 13:14] fabianmichael commented on #31
@bnomei I added the uncrompressed file with dev environments in mind. Do you think, the minified version would make more sense? I guessed that most devs would include it in their build process anyway to have a single JS payload for production …

[2018-01-30 13:20] fabianmichael commented on #32
Hi Dennis,

sorry that I've been kind of idle regarding the work on my plugins. I’ve been drowning in client work over the last month (I’m alright, if you’re asking …). I will start to develop major new versions for Kirby 3 once it’s in a state where development of comprehensive plugins makes sense.

Bugs however should be fixed, especially as the frontend code of ImageSet has basically nothing to

[2018-01-30 13:29] fabianmichael commented on #30
Hi @ChrisKam, unfortunately the Media object cannot be extended. If you look into Kirby’s source, you’ll notice the the Media and Asset classes are not extensible like the File class (you can add custom methods to the File object by using sth. like `file::$methods['imageset'] = function() { […] };`). I’m afraid, there’s nothing I can do here. but you can always create imagesets by passing a `Media

[2018-01-30 16:33] krlklm commented on #7
I have ImageSet now working inside Swiper, so for me the tutorial is not necessary anymore.

A bit out of context, but maybe anyone can use it:

This is pulling the images from a blueprint that contains a structured field 'slider' that has a field 'image'

`<?php $slides = $data->slider()->yaml(); ?>`
` <div class="swiper-container">`
`<div class="swiper-wrapper">`
`<?php foreach($slides as $slide

[2018-02-07 01:10] jklue opened #36 "hidden images render at smallest srcset size"
I hide most of an article's content on page load, then reveal that content, with images, when the user clicks "read more". The images inside this initially-hidden area are rendered with the smallest srcset size, and thus appear blurry when finally revealed. Is there a way around this, or to ask the browser to choose a higher srcset?

[2018-02-07 03:13] jklue opened #37 "Can I set default sizes in imageset.presets?"
I have the following code in site/config.php:
[code]

Unfortunately I still get `<img sizes="100vw"...` on the front-end. Am I doing something wrong?

I tried with lazy loading turned off, `c::set('imageset.lazyload', false);`, but get the same thing.

[2018-02-07 10:41] bnomei commented on #31
i did add the minified script to my [loadjs](https://github.com/muicss/loadjs) chain so i can use whatever version your plugin provides – keeping plugin code separated from website code. no webpack merge etc.
you could add a note [here](https://github.com/fabianmichael/kirby-imageset#23-template-setup) that a minified version is available as well.

[2018-02-07 14:00] jklue commented on #37
User error: I had been messing with image widths in the css and overriding Imageset defaults. I was attempting to horizontally align vertical images and limit their height. I've adjusted my css using flexbox now. All works.

[2018-02-07 14:00] #37 closed, assigned to nobody

[2018-02-07 14:04] jklue commented on #36
This must have been related to #37. Now that I've removed custom css to control image width on tall vertical images, it works again.

[2018-02-07 14:04] #36 closed, assigned to nobody

[2018-02-08 14:10] wottpal commented on #32
Hey Fabian :)
I can totally understand your situation, hope you have some more time soon!
Nonetheless many of my sites rely on ImageSet & ImageKit and I somehow thought the paid license model ensures its reliability at least for a while. I'm also very hyped for Kirby 3 but I'm definitely not planning to upgrade all of my sites immediately (or even at all) so if you plan to focus on Kirby 3 version

[2018-02-22 12:12] daybugging opened #38 "Integrating imageset.js in my workflow"
Hey there,
quick question: I want to include imageset.js in my own workflow (currently webpack), how would I go about this? Importing the library (`import 'path/to/plugin/imageset.js'`) works, but then execution fails.

Tested this with the latest version of ImageSet, any pointer is much appreciated!
Thank you.

[2018-03-03 16:59] fabianmichael commented on #35
Done in cb36c2c4718f7ad5bb60893e038c91bff847d1b6

[2018-03-03 16:59] #35 closed, assigned to fabianmichael

[2018-03-03 16:59] fabianmichael commented on #31
Replaced with minified file in cb36c2c4718f7ad5bb60893e038c91bff847d1b6.

[2018-03-03 16:59] #31 closed, assigned to bnomei

[2018-03-03 17:00] fabianmichael commented on #32
@wottpal Just released 1.1.0 Beta 2 :-) Please try agaign if your issue is fixed by now (I really hope so).

[2018-03-03 17:01] fabianmichael commented on #34
Notice for setting `display: block` has been added to readme in cb36c2c4718f7ad5bb60893e038c91bff847d1b6

[2018-03-03 17:01] #34 closed, assigned to nobody

[2018-03-03 17:02] fabianmichael commented on #25
@glumanda99 FYI: I just uploaded 1.1.0-beta2. Please let me now if your error persists. Otherweise, I will close this ticket soon cb36c2c4718f7ad5bb60893e038c91bff847d1b6.

[2018-03-03 17:07] fabianmichael commented on #38
Hey @daybugging,

sorry that it took a while … I just uploaded `1.1.0-beta2`, which is a huge JS-rewrite. Please try again with the latest version and see if your problems persists.

Best,
Fabian

[2018-03-03 17:09] fabianmichael commented on #16
@S1SYPHOS @schnti I just uploaded 1.1.0-beta2, which is a huge JS rewrite. Please try again to tee your error persists. If not, we can close this ticket.

[2018-03-03 17:15] fabianmichael commented on #28
@S1SYPHOS Hey there, finally I’m catching up … does you issue still exist (could also be a rendering bug in the browser engine. In that particular case, it would be out of my possibilities to control it)? Please try again with `1.1.0-beta2`.

[2018-03-03 17:46] S1SYPHOS commented on #28
Will try & get back at you.

[2018-03-06 10:51] #30 closed, assigned to ChrisKam

[2018-04-18 14:18] wottpal commented on #32
It seems to be fixed. Thanks! :)

[2018-04-18 14:18] #32 closed, assigned to fabianmichael

[2018-07-03 10:39] colly opened #41 "Security vulnerability in build process"
Hi there,

For a couple of weeks, Github has been giving me the following warning relating to the use of the Imageset plugin 1.1.0-beta2 on my Kirby build (now updated to 2.5.11).

<img width="777" alt="screenshot 2018-07-03 11 33 32" src="https://user-images.githubusercontent.com/867489/42215070-424dd1f8-7eb5-11e8-8841-13daf633ec4f.png">

<img width="733" alt="screenshot 2018-07-03 11 34 02" src=

[2018-07-03 16:46] fabianmichael commented on #41
Hi @colly,

I ran a quick `npm audit` within the repo to investigate this. As far as I can tell (`node_modules/` is said to contain more modules than there are particles in the whole universe) this is a dependency used by **node-sass** in the build process and nothing that is nothing that should affect the actual frontend code. From a security point of view, it should be safe to use ImageSet. Howe

[2018-07-03 16:48] colly commented on #41
Great. Thanks for the clarity, and for continued maintenance of the plugin.

[2018-08-30 14:44] foxacid opened #42 "Placeholder is removed before image has lazyloaded"
Hello there,

the plugin is really great but I'm experiencing issues/unexpected behaviour with lazyloading:

The `__wrapperLoadedClass` (`.is-loaded`) seems to be set before the contained `img` is lazyloaded. Since `.is-loaded` is responsible for fading out the placeholder image, all placeholders for images outside the viewport are removed before the images behind them are loaded.

This means that

[2018-08-31 21:42] foopz opened #43 "Saturation issues"
Thank you for the fantastic plugin my pages load so gracefully now.

I have noticed a slight issue with image saturation/vividness of colors are. It seems imageset is making the slightly muted as you can see in the attached thumbnail. I'm not sure whether this is a bug or bad implementation of the plugin by me. Any help would be greatly appreciated.

![imageset_saturation](https://user-images.gith

[2018-09-01 14:05] krlklm opened #44 "How to add an HTML attribute to the img tag"
I try to use imageset for an image map. I would need to add `usemap="#imagemap"` within the `<img>` tag. Is this possible, and if, how? Thanks!

Well, i just learned that image maps don't scale, because they are pixel based. So i will have to check how i can build a responsive image map equivalent with SVG. I will post here again if i still need this functionality.

[2018-09-03 12:14] foxacid commented on #43
This looks like a color space issue. Can you compare the color profiles of your source and thumbnail images? Try to convert your source image to sRGB and see if that fixes it...

[2018-09-04 15:48] fabianmichael commented on #43
Hi, the color change is probably happening inside of Kirby’s thumb driver (which ImageSet is relying on). As far as I know, the default driver does not preserve color profiles. The best way to get around this issue, is probably to override the built-in driver with a custom solution bases on ImageMagick, as it offers more options than GD:

Source code:
https://github.com/getkirby/kirby/blob/master/

[2018-09-04 15:48] fabianmichael commented on #44
Okay, good luck with finding a working solution, but SVG sounds like a good plan to me.

Can I close the ticket?

[2018-09-05 06:47] foopz commented on #43
Thank you so much for the help. Following @foxacid's advice I was able to determine that the problem is the lack of an sRGB color profile. Following the the links of @fabianmichael it seems it's as simple as copying the template of Imagemagick to a custom driver, adding the line:

[code]
And then setting `c::set('thumbs.driver', 'pd');` in the config. However, the colors are still muted when the t

[2018-09-05 07:21] krlklm commented on #44
Yes, i found a solution with SVG based on this [blog post](https://patrickkettner.com/posts/responsive-image-maps/) by Patrick Kettner. Thanks!

[2018-09-05 07:21] #44 closed, assigned to nobody

[2018-10-12 15:24] jklue opened #45 "Ignore some images in (image: …) kirbytag"
Is there a way to add a class to an image tag or parent container that will prevent imageset from lazy loading it or doing anything to it?

[2018-10-13 17:18] fabianmichael commented on #45
No, this is currently not possible by using a parameter. However, you could can copy a customized version of the image tag into `site/tags` and add a parameter that allows you to disable ImageSet on certain images or even disabling it by default.

You can find the code for the image tag in https://github.com/fabianmichael/kirby-imageset/blob/master/tags/image.php

When doing this, you should add `

[2018-10-13 19:20] jklue commented on #45
(image: … imageset: false) would be perfect! I don't understand the use for `imageset.tags.image.default` though.

[2018-10-15 07:29] fabianmichael commented on #45
I thought it could be handy to let the developer choose whether imageset should be opt-in or opt-out for Kirbytext, that’s was this option was supposed to be for.

[2018-10-15 13:45] jklue commented on #45
Brilliant. In my mind it would be something like `imageset.tags.image.optional`, and if it were set to true, then the `(image: ... imageset: false)` feature would have an effect.

[2018-10-18 17:15] jklue commented on #45
@fabianmichael this may warrant a new issue, but would it be possible to prevent imageset from running on a certain page? I'm not loading the header scripts on a certain page, but that doesn't seem to prevent it from working on the images.

[2018-10-22 12:38] fabianmichael commented on #45
@lukehatfield This won’t work, as ImageSet generates special HTML code for lazy-loading. The plugin has no way of determing whether a certain script is loaded or not. As there are lots of different script-loading methods and build processes, it would not be feasible to attempt that.

[2019-02-12 12:08] colly opened #46 "Future K3 compatibility?"
I noticed you updated the readme stating incompatibility with K3. I'm eager to upgrade but have imageset woven into my build. Do you have a proposed date for K3 support? I'd be willing to pay again for an update.

[2019-02-12 17:23] fabianmichael commented on #46
Sorry, no date yet. I will start with porting ImageSet as soon, as my schedule allows it.

[2019-02-14 09:25] fabianmichael commented on #9
Closing this, as there seems to be no further need for discussion.

[2019-02-14 09:25] #9 closed, assigned to nobody

[2019-04-21 16:04] rcvd commented on #46
Any updates on this? Desperately waiting for it...

[2019-05-03 14:02] fabianmichael commented on #46
Sorry, no updates yet. My schedule might get better over the next weeks, but I cannot make any promises so far.

[2019-06-04 13:54] scsskid commented on #46
great pluign, take your time
could you maybe provide a starting point, to extend the default (image: ) tag with a resize option, which actually resizes the provided file and keeps the existing attributes?

[2019-10-02 13:42] fabianmichael commented on #46
I had to make the decision, to stop all development for ImageKit and ImageSet. See https://forum.getkirby.com/t/the-end-of-imagekit-and-imageset/15824 for a more detailed explanation.

[2019-10-02 13:42] #46 closed, assigned to nobody

[2019-10-02 13:45] #6 closed, assigned to fabianmichael

[2019-10-02 13:45] #7 closed, assigned to fabianmichael

[2019-10-02 13:45] #12 closed, assigned to fabianmichael

[2019-10-02 13:45] #16 closed, assigned to fabianmichael

[2019-10-02 13:45] #18 closed, assigned to fabianmichael

[2019-10-02 13:45] #21 closed, assigned to fabianmichael

[2019-10-02 13:45] #22 closed, assigned to fabianmichael

[2019-10-02 13:45] #24 closed, assigned to nobody

[2019-10-02 13:45] #25 closed, assigned to fabianmichael

[2019-10-02 13:45] #28 closed, assigned to nobody

[2019-10-02 13:45] #33 closed, assigned to nobody

[2019-10-02 13:45] #38 closed, assigned to daybugging

[2019-10-02 13:45] #41 closed, assigned to fabianmichael

[2019-10-02 13:45] #42 closed, assigned to fabianmichael

[2019-10-02 13:45] #43 closed, assigned to nobody

[2019-10-02 13:45] #45 closed, assigned to fabianmichael